body {
  margin: 0;
  padding: 0;
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    @media (max-width: 425px) {
      width: 0;
      height: 0;
      transform: none;
      overflow-y: unset;
      overflow-x: unset;
      position: static;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      width: 400vw;
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
      @media (max-width: 425px) {
        width: 100vw;
        display: block;
        transform: none;
        transform-origin: top left;
      }
      .slide {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        @media (max-width: 425px) {
          justify-content: center;
        }
        .line {
          width: 100vw;
          height: 2px;
          background: #fff;
          display: flex;
          @media (max-width: 425px) {
            width: 2px;
            height: 100vh;
            flex-direction: column;
            justify-content: space-between;
          }
          input {
            &:checked + label + .comments-down {
              opacity: 1;
              visibility: visible;
              width: 400px;
              @media (max-width: 425px) {
                width: 0;
              }
              & .comment-down {
                margin-bottom: 20px;
              }
              & .bubble-down {
                background: #fff;
                padding: 20px;
                color: #222;
                border-radius: 3px;
                margin-top: 18px;
                word-break: break-all;
                @media (max-width: 425px) {
                  width: 115px;
                  padding: 10px;
                  position: absolute;
                  left: -150px;
                  top: -15px;
                }
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  left: -7px;
                  top: 12px;
                  width: 0;
                  height: 0;
                  border-top: 8px solid transparent;
                  border-bottom: 8px solid transparent;
                  border-right: 15px solid #fff;
                  transform: rotate(45deg);
                  @media (max-width: 425px) {
                    left: 125px;
                    top: -11px;
                    transform: rotate(120deg)
                  }
                }
              }
            }
            &:checked + label + .comments-up {
              opacity: 1;
              visibility: visible;
              width: 400px;
              @media (max-width: 425px) {
                width: 0;
              }
              & .comment-up {
                margin-bottom: 20px;
              }
              & .bubble-up {
                background: #fff;
                padding: 20px;
                color: #222;
                border-radius: 3px;
                margin-top: -61px;
                word-break: break-all;
                @media (max-width: 425px) {
                  width: 115px;
                  padding: 10px;
                  position: absolute;
                  top: 60px;
                  left: 25px;
                }
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  left: -12px;
                  top: -25px;
                  width: 0;
                  height: 0;
                  border-top: 8px solid transparent;
                  border-bottom: 8px solid transparent;
                  border-right: 15px solid #fff;
                  transform: rotate(-20deg);
                  @media (max-width: 425px) {
                    top: -10px;
                    left: -6px;
                    transform: rotate(52deg);
                  }
                }
              }
            }
          }
          .dot-label {
            position: relative;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            transform: translateY(-6px);
            margin: 0 20px;
            @media (max-width: 425px) {
              margin: 0;
              width: 20px;
              height: 3px;
              border-radius: unset;
              transform: translateX(-8px);
            }
          }
          .comments-down {
            opacity: 0;
            visibility: hidden;
            transition: opacity 200ms;
            width: 400px;
            position: relative;
            @media (max-width: 425px) {
              width: 2px;
              height: 180px;
            }
          }
          .comments-up {
            opacity: 0;
            visibility: hidden;
            transition: opacity 200ms;
            width: 400px;
            position: relative;
            @media (max-width: 425px) {
              width: 2px;
              height: 180px;
            }
          }
        }
      }
      .one {
        background: #efdefe;
        @media (max-width: 425px) {
        }
      }
      .two {
        background: #a3f3d3;
      }
      .three {
        background: #0bbaa0;
      }
      .four {
        background: #00dfdf;
        @media (max-width: 425px) {
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display:none;
  }
}




