/* 스타일 초기화 (에릭마이어의 Normalize)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
form, label, legend,table, caption, 
tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, fieldset
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style-type: none;
}
/* wrapper 셋팅 */
.header, .navigation, .main, .slogan, .footer {
  width: 1140px;
  margin: 0 auto;
}
.readable-hidden, .readable-hidden, legend {
  position: absolute; /*제목 숨기기*/
  width: 1px; /*초점을 받기위해 최소한의 크기사용*/
  height: 1px; /*초점을 받기위해 최소한의 크기사용*/
  overflow: hidden; 
  margin: -1px;
  clip: rect(0,0,0,0);
}

/* 게시판 메인트윗 메인사진 메인인기 기본셋팅*/
.main-notice, .main-twit, .main-pic, .main-favorite {
  float: left;
  margin-right: 18px;
  margin-top: 20px;
}

/* 형식 지정 */
.book-small-icon, .news-small-icon, .notice-small-icon, .twit-small-icon, .favorite-small-icon {
  display: inline-block;
  position: absolute;
  width: 70px;
  height: 60px;
  text-indent: 70px;
  white-space: nowrap;
  top: 10px;
  overflow: hidden;
}
.book, .news, .notice, .twit, .favorite {
  margin: 7px 0 0 63px;
  font-size: 1.6em;
  font-weight: 700;
  color: #2b5876;
}
/*********************** 반응형 예제 ************************/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* 기본 셋팅 */
  .wrapper {
    width: 768px;
    padding: 0;
    margin: 0;
  }
  
  /* 헤더 */
  .header {
    margin-top: 0;
    background: #E4E5E6;
    position: relative;
  }
  .logo {
    position: absolute;
    bottom: 100px;
    left: 70px;
  }
  .header img {
    width: 350px;
  }
  .header input {
    width: 1000px;
    height: 50px;
  }
  .header button {
    height: 50px;
  }
  .menu-essential {
    background: #E4E5E6;
    font-size: 1.6em;
    padding: 20px 0;
  }
  .header form {
    padding: 80px 0 20px 0;
    background: #E4E5E6;
  }
  /* 네비게이션 */
  .nav-background {
    width: 1140px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .nav-background nav {
    background: rgb(178, 179, 180);
    font-size: 1.5em;
  }
  /* 메인 기본 셋팅 */
  .main article, .main section {
    width: 1140px;
    font-size: 1.5em;
    border: none;
   }
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* 메인 북 */
  .book-caption figcaption {
    margin-top :15px;
   }
  .book-content {
    text-align: justify;
    margin-top: 15px;
   }
   .book-small-icon {
    margin-left: -130px;
   }
   /* 메인 뉴스 */
  .main-news p {
    margin-top: 20px;
    line-height: 40px;
  }
  .news-small-icon {
    margin-left: -100px;
  }
  /* 메인 게시판 */
  .main-notice {
    margin-top: 70px;
  }
  .main-notice li {
    margin-top: 40px;
    text-align: left;
  }
  .notice-small-icon {
    margin-left: -100px;
    top: 5px;
  }
  /* 메인 트위터 */
  .main-twit {
    margin-top: 50px;
  }
  .email {
    margin-top: 15px;
  }
  .twit-article {
    text-align: justify;
  }
  .twit-small-icon {
    margin-left: -100px;
    top: 5px;
  }
  /* 메인 사진 */
  .main-pic {
    display: none;
  }
  /* 메인 인기 */
  .main-favorite {
    margin-top: 40px;
    text-align: center;
  }
  .favorite-list li {
    text-align: center;
  }
  .favorite-small-icon {
    margin-left: -140px;
    top: 5px;
  }
  
  /* 슬로건 */
  .slogan {
    font-size: 1.2em;
  }
  /* 푸터 */
  .footer {
    font-size: 1.3em;
  }
}
/******************** 헤더 ********************/
.header {
  margin-top: 20px;
}
.header-top {
  position: relative;
}
.logo {
  position: absolute;
}
.menu-essential {
  text-align: right;
}
.menu-essential li {
  display: inline-block;
  margin-right: 20px;
}
.menu-essential li:nth-child(n+2):before {
  content: 'ㅣ';
  margin-right: 25px;
}
.menu-essential li a {
  text-decoration: none;
  color: black;
}
.searching-form {
  margin-top: 20px;
}
.searching-form fieldset {
  border: 0px;
  text-align: right;
  margin: 0;
}
.searching {
  height: 32px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
}
.btn-search {
  border-radius: 5px;
  border: none;
  background: #2b5876;
  font-size: 15px;
  color: white;
  margin: 3px;
  height: 37px;
  width: 50px;
}
.nav-background {
  background: #2b5876;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.navigation {
  background: #2b5876;
  padding-bottom: 10px;
}
.menu {
  background: transparent;
  margin-left: 50px;
  text-align: center;
}
.menu-item {
  display: inline-block;
  line-height: 3;
  margin-right: 80px;
}
.menu-item-text {
  font-weight: 800;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 1px 0 #000;
  font-size: 1.2em;
  text-align: center;
}
.menu-item a {
  text-decoration: none;
  color: white;
  text-align: justify;
}
.sub-menu-item a:hover {
  color: yellow;
  font-weight: 500;
  text-shadow: 1px 0 0 #000;
}

/******************** 메인 ********************/
.main {
  margin-top: 25px;
}
.main:after {
  content: '';
  display: block;
  clear: both;
}
/* 책 */
.main-book {
  width: 380px;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}
.book-small-icon {
  background: url('images/sprite_main.png') no-repeat;
}
figcaption,.author, .stars {
  text-align: center;
}
.book-caption {
  text-indent: 1px;
}
.book-caption img {
  width: 245px;
  margin-left: 26px;
  height: 315px;
  }
.stars {
  font-size: 1.6em;
  color:#2b5876;
}
/* 뉴스 비디오 */
.main-news {
  width: 710px;
  float: right;
  position: relative;
}
.news-small-icon {
  background: url('images/sprite_main.png') no-repeat;
  background-position-y: 40%;

}
.rwd-video {
  width: 710px;
  margin-top: 15px;
}
.news-content {
  margin-top: 10px;
}

/* 메인 게시판 */
.main-notice {
  width: 380px;
  position: relative;
  border: 1px solid black;
}
.notice-small-icon {
  background: url('images/sprite_main.png') no-repeat;
  background-position-y: 40%;
}
.notice-list {
   
   display: block;
   position: relative;
}
.notice-list li {
  padding-top: 5px;
  font-size: 1em;;
  margin-top: 5px;
  margin-right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-list li:before {
  content:'⊙';
}
.notice-list a {
  text-decoration: none;
  color: black;
}
.notice-list li time {
  position: absolute;
  right: 0;
}
.notice-more {
  position: absolute;
  top: 15px;
  right: 0;
  text-decoration: none;
  color: black;
}
.notice-more:before {
  content:'▶';
}
/* 메인 트윗 */
.main-twit {
  width: 290px;
  border: 1px solid black;
  position: relative;
}
.twit-small-icon {
  background: url('images/sprite_main.png') no-repeat;
  background-position-y: 80%;
}
.twit-body {
  
  margin-top: 7px;
}
.email span {
  color: royalblue;
}
.email a {
  text-decoration: none;
  color: black;
}
.twit-article {
  margin-top: 15px;
}
/* 메인 사진 */
.main-pic {
  width: 140px;
  height: 140px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  margin-top: 55px;

}
.main-pic img {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  margin: 1px 0 0 1px;
}
.main-pic time {
  position: absolute;
  left: 50px;
  bottom: -30px;
}
/* 메인 선호 */
.main-favorite {
  border: 1px solid black;
  width: 250px;
  position: relative;
  margin-right: 0;
}
.favorite-small-icon {
  background: url('images/sprite_main.png') no-repeat;
  background-position-y: 60%;
}
.favorite-list {
  margin-top: 20px;
}
.favorite-list li {
  margin-top: 10px;
  counter-increment: number;
  color: white;
}
.favorite-list li:before {
  content: counter(number);
  background: #2b5876;
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  padding: 2px 9px;
}
.favorite-list a {
  text-decoration: none;
  color: black;
}

/******************* 슬로건 *******************/
.slogan {
  margin-top: 30px;
  position: relative;
}
.slogan-heading {
  position: absolute;
  width: 110px;
  height: 83px;
  top: 10px;
  left: 5px;
}
.slogan-heading:after {
  content: '';
  background: url('images/coffee.png');
  position: absolute;
  width: 110px;
  height: 83px;
  top: 15px;
  left: 60px;
}
.slogan-body {
  padding: 0 85px 20px 200px;
  text-indent: 5px;
}
.slogan-body q:before {
  font-size: 40px;
  position: relative;
  top: 10px;
}

/******************* 푸터 *******************/
.footer {
  text-align: center;
  background: #2b5876;
  color: white;
  padding: 30px 0;
}
.footer-background {
  background: #2b5876;
}
.address a {
  text-decoration: none;
  color: white;
}
.copyright {
  display: block;
  margin-top: 10px;
}