.todo-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

.todo-list {
  list-style: none;
  color: #181818;
  padding: 0;
}

.page {
  color: #181818;
  list-style: none;
  width: 40px; 
}

.page:hover {
  background: #181818;
  color: #fff;
  cursor: pointer;
}

.selected-page {
  list-style: none;
  background: #181818;
  color: #fff;
  width: 40px; 
}

.button {
  font-size: 15px;
  cursor: pointer;
}

.first-page {
  color: #181818;
  list-style: none;
  cursor: pointer;
}

.last-page {
  color: #181818;
  list-style: none;
  cursor: pointer;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}