/********** 기본 설정 **********/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 리스트 스타일 */
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*기본 셋팅 */
body {
  background: url('images/bg_flower.png') no-repeat 50% 0 , linear-gradient(#aaa, #eee); 
  background-color: #aaa;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}
*, *:before, *:after {
  box-sizing: border-box;
}

/********** 헤더 **********/
.header {
  position: relative;
  padding: 0 30px 30px 30px;;
  background: white;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
  position: absolute;
  top: 57px;
  left: 65px;
}
/*맴버*/
.member {
  text-align: right;
  font-size: 0;
}
.member li {
  display: inline-block;
  font-size: 1rem;
}
.member li:nth-child(n+2):before {
  content: 'ㅣ';
}
.member a {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
}
/* 숨김제목 */
.readable-hidden, legend, .validation-hidden,.search-title {
  background: red;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}
/* 메인 메뉴 */
.navigation {
  background-color: #181818;
  background-image: repeating-linear-gradient(#181818,#666464);
  border-radius: 0 0 10px 10px;
  border-top: 2px solid black;
  height: 60px;
}
.menu {
  margin-left: 220px;
}
.menu-item {
  float: left;
  border-left: 1px dotted rgb(141, 140, 140);
  height: 57px;
  padding: 0 15px 0 20px;
  position: relatve;
}
.menu-item-text {
  display: inline-block;
  margin-top: 18px;
  color: white;
  font-weight: 550;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.menu-item, .menu-item-text:hover {
  content: '';
  color: #000;
}
/* .menu-item-text:hover:after { 
  content:'';
  display: block;
  border-bottom: 2px solid rgb(15, 1, 1);
  margin-top: 19px;
} */
.menu-item:nth-child(n+4) .sub-menu { /* 4,5,6번째 서브메뉴 선택 */
  right: 50px; /* 오른쪽 기준 */
}
.sub-menu {
  position: absolute;
  display: block;
  margin-top: 18px;
}
.sub-menu li {
  padding-right: 10px;
  white-space: nowrap;
  display: inline;
}
.sub-menu a:before {
  content: '☆';
  top: 2px;
}
.sub-menu a:hover:before, .sub-menu a:focus:before {
  content: '★';
} 
.navigation .sub-menu {
  display: none;
}
.menu-item:hover .sub-menu {
  display: flex;
}

/********** 비주얼 **********/
.visual {
  min-height: 120px;
  position: relative;
}
@keyframes flowerAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textAni {
  0%{
    font-size:12px;
    color: rgba(0,0,0,0.2);
    top:0;
    left: 0;
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    top: 75px;
    left: 400px;
  }
}
.visaul:before, .visula:after {
  animation-name: flowerAni;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat;
}
.visual:before {
  background-image: url('images/ani_flower_01.png'),
                    url('images/ani_flower_02.png');
  background-position: 0 -10px, 670px 0;
}
.visual:after {
  animation-delay: 1s;
  background-image: url('images/ani_flower_03.png'),
                    url('images/ani_flower_04.png');
  background-position: 300px 0, 800px 15px;
}
.visual-text {
  position: absolute;
  z-index: 100;
  font-family: 'Courier New', Courier, monospace;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  font-weight: 600;
}
/********** 메인 **********/
.main {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
/* 로그인폼 */
.group1 {
  width: 250px;
}
.log-in {
  background-image: radial-gradient(circle at left top, #666464, #181818);
  padding: 15px 10px 20px 10px;
  border-radius: 15px;
}
.log-in-text {
  font-size: 15px;
  padding-bottom: 10px;
  text-indent: 5px;
  color: whitesmoke;
}
.login-form {
  background-color: white;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
fieldset {
  background-color: white;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid black;
}
.user-id {
  padding: 5px;
  font-size: 13px;
}
.user-id label {
  padding-right: 8px;
}
.user-id input {
  width: 95px;
  height: 22px;
}
.user-pw {
  padding-top: 4px;
  font-size: 13px;
}
.user-pw input {
  width: 95px;
  height: 22px;
}
.btn-login {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 16px;
  right: 0px;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}
.login-extra {
  background-color: #fff;
  padding: 10px;
  font-size: 12px;
  height: 40px;
  border-radius: 0 0 10px 10px;
}
.login-extra li {
  float: left;
}
.login-extra-extra a {
  margin-right: 26px;
}
.login-extra li:before {
  content: ' >';
  color: red;
}
/* 검색사이트 폼 */
.validation-list {
  margin-top: 20px;
}
.validation-list li {
  background-image: url('images/validation_icon.png'), linear-gradient(#aaa, #eee);
  background-repeat: no-repeat;
  background-position: 15%;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border: 1px solid whitesmoke;
}
.validation-list li a {
  padding: 50px;
}
/* 웹 관련 용어 폼 */
/* .term {
  background-image: linear-gradient(rgb(212, 209, 209), rgb(194, 189, 189) );
  margin-top: 20px;
  position: relative;
  border: 1px solid whitesmoke;
  border-radius: 15px;
}
.term-word {
  padding: 10px 0 0 12px;
  font-weight: 550;
}
.term-ques {
  color: royalblue;
  font-size: 14px;
  margin-top: 7px;
}
.term img {
  float: left;
  margin: 15px 10px 10px 10px;
}
.term-text {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.term {
  margin-top: 20px;
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: linear-gradient(to bottom, #aaa, #eee);
}
.term-heading {
  margin-bottom: 10px;
  font-weight: 700;
}
.term-list-subject {
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}
.term-list-thumbnail {
  float: left;
  margin-right: 10px;
}
.term-list-thumbnail img {
  display: block;
}
.term-list-brief {
  overflow: hidden;
}
.group2 {
  width: 380px;
}
/* 검색창 */
.search-form {
  border: 1px solid rgb(190, 185, 185);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  text-align: center;
  background: #eee;
  background: linear-gradient(to bottom, #eee, #aaa)
}
.search-form fieldset{
  border-bottom: none;
  padding: 0;
  background: transparent;
}
#searching {
  margin: 0 5px 0 5px;
  height: 25px;
}
.btn-src {
  font-size: 15px;
  padding: 5px;
  background: #181818;
  color: white;
  margin: 0;
  border-radius: 5px;
  border: 1px solid rgb(184, 180, 180);
}
/* 공지사항 */
.board {
  
  position: relative;
  margin-top: 20px;
}

.notice-board li:before, .resource-board li:before {
  content: '◎';
  margin-right: 5px;
}
.notice-board li, .resource-board li {
  padding-top: 5px;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-board time, .resource-board time {
  
  position: absolute;
  right: 0;
}
.notice-board a, .resource-board a {
  overflow: hidden;
}
.notice-board time, .resource-board time {
  position: absolute;
  right: 0;
}
.notice-board {
 position: relative;
}
.notice-title, .resource-title {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  border-color: palevioletred;
  color: palevioletred;
  padding: 3px;
  font-size: 14px;
}
.notice-title {
  display: inline;
}
.resource-title {
  position: absolute;
  display: inline-block;
  top: -2px;
  margin-left: 64px;
  top: -1.px;
  border-radius: 2px;
}
.resource-board ul {
  position: absolute;
  background: #fff;
  z-index: 100;
  width: 100%;
  display: none;
  top: 0;
  margin-top: 27px;
  padding-top: 0;
}
.resource-board:hover ul {
  display: block;
}
.more {
  position: absolute;
  top: -8px;
  right: 0;
  font-size: 14px;
  padding: 10px;
}
.more:before {
  content: '☞';
}
/* 뉴스 */
.news {
 position: relative;
}
.news:before {
  content:'';
  position: absolute;
  top: 35px;
  width: 80%;
  height: 1px;
  background: #aaa;
  background: linear-gradient(to right, #aaa, #fff);
}
.news-article {
  display: block
}
.news-heading {
  margin-top: 20px;
  padding-bottom: 15px;
  line-height: 30px;
  font-weight: 700;
  color: royalblue;
}
.news-body {
  margin-left: 130px;
  padding-top: 20px;
}
.news-body-heading {
  font-weight: 700;
}
.news-body-article {
  text-align: justify;
  margin-top: 10px;
}
.news-img {
  position: absolute;
  top: 70px;
  left: 0;
}
.news-img img {
  box-shadow: 0 15px 25px 0 #aaa;
}
.news-img figcaption {
  text-align: center;
  margin-top: 20px;
}
.news-more {
  position: absolute;
  top: 7px;
  right: 0;
}

.group3 {
  width: 190px
}
/* 이벤트 */
.event-related {
  padding: 10px;
  background: linear-gradient(to bottom, #aaa,#eee);
  border-radius: 5px;
}
.event {
  position: relative;
}
.event-heading, .related-heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.event-heading span, .related-heading span {
  color: tomato;
}
.event-article img {
  padding: 5px;
  padding: 0;
  box-shadow: 5px 5px 0 0 #aaa;
}
.event-detail {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: justify;
}
.buttons {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0;
}
.btn-next, .btn-prev {
  cursor: pointer;
  width: 20px;
  height: 0;
  padding-top: 19px;
  background: url('images/backpage_forwardpage.png') no-repeat;
  overflow: hidden;
}
.btn-prev {
  background-position-x: 7%;
  border: none;
}
.btn-next {
  background-position-x: 95%;
  border: none;
}
.btn-prev:focus, .btn-next:focus {
  outline: 1px solid blue;
  outline-offset: -1px
}
.related {
  padding: 10px;
}
.related-pages {
  background: #fff;
  border-radius: 5px;
  line-height:30px;
  text-indent: 1em; 
  height: 30px;
  overflow: hidden;
  transition: height .5s 0s;
}
.related-pages:hover, .related-pages:focus {
  height: 150px;
}
.related-pages li a {
  display: block;
}
/* 인기 사이트 */
.popular {
  background: linear-gradient(to bottom, #aaa, rgb(216, 213, 213));
  margin-top: 20px;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #aaa;
}
.popular-heading {
  font-weight: 700;
}
.popular-heading span {
  color: tomato;
}
.popular-list {
  background: skyblue;
  overflow: hidden;
  position: relative;
}
.popular-list li {
  background: moccasin;
  margin-top: 10px;
  counter-increment: number;
}
.popular-list li:before {
  content: counter(number);
  background: #aaa;
  color: #fff;
  padding: 0 6px;
  border-radius: 3px;
  margin-right: 5px;
}
.rank {
  display: inline-block;
  background: url('images/rank.png') no-repeat;
  position: absolute;
  right: 0;
  width: 9px;
  height: 20px;
  transform: translateY(20%);
  text-indent: 20px;
  overflow: hidden;
}
.two .rank {
  background-position-y: 120%;
}
.three .rank {
  background-position-y: 60%;
}
.popular-more {
  position: absolute;
  top: 15px;
  right: 10px;
}

/********** 슬로건 **********/
.slogan {
  background: sandybrown;
  padding: 10px 60px 10px 160px;
  position: relative;
}
.slogan-heading {
  background: mediumslateblue;
  position: absolute;
  width: 110px;
  height: 83px;
  bottom: -5px;
  left: 30px;
}
.slogan-heading:after {
  content: '';
  background: url('images/coffee.png');
  position: absolute;
  width: 110px;
  height: 83px;
  top: 0;
  left: 0;
}
.slogan-body {
  background: mistyrose;
  padding: 0 20px 20px 0px;
}
.slogan-body q:before {
  font-size: 40px;
  position: relative;
  top: 10px;
}
/********** 푸터 **********/
.footer-bg {
  background-color: purple;
}
.footer {
  background-color: pink;
  height: 10vh;
}