/*기본 셋팅 */
body {
  margin: 0
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

/* 레이아웃 설정 */
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: yellow;
    
}

/* 비주얼 */
.visual {
  background-color: orange;
  height: 10vh;
}

/* 메인 */
.main {
  background-color: blue;
  height: 500px;
}
.main div {
  height:450px;
}
.group1 {
  background-color: skyblue;
  width: 250px;
  float: left;
  margin: 30px 0 0 30px;
}
.group2 {
  background-color: hotpink;
  width: 380px;
  float: left;
  margin: 30px 0 0 30px;
}
.group3 {
  background-color: yellowgreen;
  width: 190px;
  float: left;
 margin: 30px 0 0 30px;
}
/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
  
}

/* 푸터 */
.footer-bg {
  background-color: purple;
}
.footer {
  background-color: pink;
  height: 10vh;
}