@charset 'utf-8';

/* Board Style */
.board_fold {
	clear: both;
	margin-top: 25px;
	overflow: hidden;
}
.board_fold li {
	border-bottom: 1px solid #ddd;
	position: relative;
}
.board_fold li > .tit {
	padding: 23px 50px 23px 0;
	cursor: pointer;
	font-size: 16px; line-height: 1.4;
	position: relative;
}
.board_fold li > .tit::after {
	content:"";
	display: inline-block;
	background: url(../img/ico-view.png) no-repeat 15px -6px;
	background-size: 25px 125px;
	width: 40px; height: 14px;
	border-left: 1px solid #e1e1e1;
	position: absolute; top: 50%; right: 0;
	margin-top: -7px;
}
.board_fold li.active > .tit::after {
	background: url(../img/ico-view.png) no-repeat 15px -67px;
	background-size: 25px 125px;
}
.board_fold li > .view {
	background: #f5f5f5;
	padding: 25px 36px;
	position: relative;
}
.board_fold li > .view p {
	line-height: 1.6; font-size: 16px;
	position: relative;
	padding: 0 0 25px 25px;
}
.board_fold li > .view p::before {
	display: inline-block;
	position: absolute; top: -7px; left: -10px;
	font-size: 20px; font-weight: 500; font-family: 'Lato-Bold';
}
.board_fold li > .view p.question::before {content:"Q.";}
.board_fold li > .view p.answer::before {content:"A.";}
@media (max-width: 768px) {
	.board_fold li > .tit {padding-right: 50px; font-size: 14px;}
	.board_fold li > .view p {font-size: 13px; padding: 0 0 20px 20px;}
	.board_fold li > .view p::before {top: -7px; left: -15px;}
	.board_fold li.active {background: #fff;}
}



/* 약관 동의 */
.agree_box .board_fold {margin-top: 0;}
.agree_box .check_skin {
	position: absolute; top: 0; z-index: 1;
	display: inline-block;
}
.agree_box .check_skin input + span {
	font-size: 12px;
	padding-left: 27px;
	line-height: 55px;
	border: none;
}
.agree_box .board_fold li {
	padding: 0 0 0 20px;
	border-bottom: 1px solid #ddd;
}
.agree_box .board_fold li.agree_all {
	background: #f5f5f5;
	border: none;
	height: 55px;
}
.agree_box .board_fold li.agree_all .check_skin input + span {
	font-size: 14px;
}
.agree_box .board_fold li > .tit {
	height: 55px; 
}
.agree_box .board_fold li > .view {
	font-size: 12px; color: #555; line-height: 2;
	background: #fbfbfb;
	margin: 0 -20px; padding: 20px 40px;
}
.agree_box .board_fold li > .tit::after {
	border: none;
}
.agree_box .agree_tit {
	font-size: 20px; font-weight: 500; color: #363636;
	text-align: center;
	margin: 80px 0 20px;
}
@media (max-width: 768px) {
	.agree_box .check_skin input + span {line-height: 45px;}
	.agree_box .board_fold li {padding: 0 0 0 10px;}
	.agree_box .board_fold li.agree_all {height: 45px;}
	.agree_box .board_fold li > .tit {height: 45px; padding: 0;}
	.agree_box .agree_tit {font-size: 13px; text-align: left; margin: 80px 0 15px;}
	.agree_box .board_fold li > .view {padding: 20px;}
	.agree_box .board_fold li.agree_all .check_skin input + span {font-size: 12px;}
}