@charset 'utf-8';

/* checkbox */
.check_skin {
	display: inline-block;
	position: relative;
	vertical-align: top;
	overflow: hidden;
	cursor: pointer;
	margin-right: 20px;
}
.check_skin input {
	position: absolute; top: 0; left: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 5;
}
.check_skin input + span {
	display: inline-block;
	position: relative;
	padding-left: 27px;
	font-size: 14px;
	line-height: 16px;
	z-index: 3;
}
.check_skin input + span:before {
	content: "";
	display: inline-block;
	position: absolute; left: 0; top: 50%; 
	margin-top: -8px;
	width: 16px; height: 16px;
	background: url('../img/ico-checkbox.png') no-repeat;
	background-size: 16px 32px;
}
.check_skin input:checked + span:before {
	background-position: 0 -16px;
}
.check_skin.only input + span {
	padding-left: 22px;
	font-size: 0;
}

/* radio */
.radio_skin {
	display: inline-block;
	position: relative;
	vertical-align: top;
	overflow: hidden;
	cursor: pointer;
	margin-right: 30px;
}
.radio_skin input {
	position: absolute; top: 0; left: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 5;
}
.radio_skin input + span {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	line-height: 16px;
	z-index: 3;
}
.radio_skin input + span:before {
	content: "";
	display: inline-block;
	position: absolute; left: 0; top: 50%; 
	margin-top: -8px;
	width: 16px; height: 16px;
	background: url('../img/ico-radio.png') no-repeat;
	background-size: 16px 32px;
}
.radio_skin input:checked + span:before {
	background-position: 0 -16px;
}
.radio_skin.only input + span {
	padding-left: 22px;
	font-size: 0;
}
/* full */
.radio_skin.full, .check_skin.full {
	display: block;
	width: 100%;
}
.radio_skin.full input + span , .check_skin.full input + span {
	padding: 0;
	width: 100%;
	font-size: 16px;
	padding: 4px 0;
}
.radio_skin.full input + span:before , .check_skin.full input + span:before {
	left: auto; right: 0;
}

@media (max-width: 768px) {
	.radio_skin input + span , .check_skin input + span {font-size: 12px;}
	.radio_skin.full input + span , .check_skin.full input + span {font-size: 13px;}
}



/* input / textarea */
input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=date],
input[type=tel] {
	font-size: 18px; color: #000;
	height: 45px; width: 100%;
}
input::placeholder,
textarea::placeholder {
	font-size: 14px; color: #bbb;
}
textarea {
	width: 100%;
	font-size: 18px; color: #000; line-height: 1.4;
	padding: 15px;
}
@media (max-width: 768px) {
	input[type=text],
	input[type=password],
	input[type=number],
	input[type=email],
	input[type=date],
	input[type=tel] {font-size: 16px;}
	textarea {font-size: 16px;}
}


/* input Box style */
.input_box {
	margin-bottom: 50px;
	position: relative;
}
.input_box .tit {
	clear: both;
	font-size: 14px; color: #000;
}
.input_box .input {
	height: 46px; width: 100%;
	border-bottom: 1px solid #ddd;
	margin-top: 13px;
}
.input_box .input label {
	font-size: 16px; color: #000;
	margin: 5px 20px 0 5px;
	display: inline-block;
	letter-spacing: -1px;
}
.input_box .post {
	position: absolute; top: 33px; right: 0;
	border: 1px solid #ccc;
	padding: 8px 15px;
	font-size: 12px; color: #000;
}
.input_box .input textarea {
	padding: 15px 0;
	height: 100%;
}
.input_box .file {
	font-size: 0;
	margin: 25px 0 5px;
	position: relative;
}
.input_box .file .file_box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}
.input_box .file .file_box .btn_upload {
	width: 120px; height: 80px;
	border: 1px solid #ddd;
	display: inline-block;
	background: #ededed url(../img/img_photo.png) no-repeat center;
	background-size: 40px 31px;
	cursor: pointer;
	text-indent: -999999px;
}
.input_box .file .file_box .btn_upload input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.input_box .file .file_box .file_img {
	width: 120px; height: 80px;
	border: 1px solid #ddd;
	display: inline-block;
}
.input_box .file .file_box .btn_file_del {
	background: url(../img/btn_file_del.png) no-repeat center;
	background-size: cover;
	width: 25px; height: 25px;
	position: absolute; top: 1px; right: 1px;
	text-indent: -99999px;
}
@media (max-width: 768px) {
	.input_box {margin-bottom: 60px;}
	.input_box .tit {font-size: 12px;}
	.input_box .input {margin-top: 8px;}
	.input_box .post {top: 26px;}
}


select {
	height: 38px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	font-size: #bbb;
	background: url(../img/arw_selectbox.png) no-repeat 100% 50%;
	background-size: 30px 20px;
	padding: 0 35px 0 10px;
}



