@charset 'utf-8';


/**
예약정보
**/
.reserv_wrap {
	clear: both;
	width: 100%;
	margin: 50px 0 60px;
	border-bottom: 1px solid #ddd;
}
.reserv_wrap .my_tit {
	margin-bottom: 45px;
}
@media (max-width: 768px) {
	.reserv_wrap {padding: 35px 0 0; border: 0; margin: 0;}
	.reserv_wrap .my_tit {margin: 8px 0 22px;}
}

/**
스테이 평가 (팝업)
**/
.score_wrap {
	padding-bottom: 50px;
}
.score_wrap .stay_info {
	background: #f5f5f5;
	padding: 46px 50px;
	overflow: hidden;
	position: relative;
	font-family: 'NanumSquare';
}
.score_wrap .stay_info .row { height: 90px; }
.score_wrap .stay_info .name {
	font-size: 24px; line-height: 100%; font-weight: 500; letter-spacing: -0.5px;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
	width: 350px;
}
.score_wrap .stay_info .photo {
	width: 145px; height: 90px;
	position: absolute; top: 46px; right: 50px;
}
.score_wrap .stay_info .stay {
	clear: both;
	line-height: 1.5;
	margin: 20px 0 0;
}
.score_wrap .stay_info .stay .day {
	font-size: 16px;
}
.score_wrap .stay_info .stay .option {
	font-size: 14px; color: #666;
	margin-top: 3px;
}
.stay_score {
	padding: 0 50px;
}
.stay_score .score_tit {
	font-size: 18px; color: #000; font-weight: 500; margin-bottom: 20px;
}
.stay_score .star {
	position: relative;
	display: block;
	width: 165px; height: 35px;
	background: url('../img/ico_star.png') repeat-x;
	background-size: 33px 70px;
	text-align: left;
	font-size: 0;
}
.stay_score .star .state {
	display: inline-block;
	height: 35px;
	font-size: 0;
	background: url('../img/ico_star.png') repeat-x 0 100%;
	background-size: 33px 70px;
	vertical-align: top;
}
.stay_score .score_box {
	margin-top: 50px;
}
.stay_score .score_box .check {
	margin-top: -5px;
}
.stay_score .score_box .check .check_skin {
	display: block;
	padding: 7px 0;
}
.stay_score .score_box textarea {
	border: 1px solid #ddd;
	height: 250px;
	margin: 0 0 40px;
}
.stay_score .bt_btns {
	padding: 0;
}
@media (max-width: 768px) {
	.score_wrap .stay_info {padding: 27px 130px 27px 30px; border-top: 1px solid #e5e5e5;}
	.score_wrap .stay_info .row {height: 60px;}
	.score_wrap .stay_info .name {font-size: 16px; width: 100%;}
	.score_wrap .stay_info .photo {width: 97px; height: 60px; top: 27px; right: 30px;}
	.score_wrap .stay_info .stay {margin: 10px 0 0;}
	.score_wrap .stay_info .stay .day {font-size: 13px;}
	.score_wrap .stay_info .stay .option {font-size: 11px; margin-top: 0;}
	.stay_score {padding: 0 30px;}
	.stay_score .score_box .check .check_skin {padding: 3px 0; margin: 0;}
	.stay_score .score_box .radio_skin input + span, .check_skin input + span {font-size: 14px; width: 100%; line-height: 40px; border: 2px solid #ededed; padding-left: 10px;}
	.stay_score .score_box .check_skin input + span:before {left: auto; right: 10px; width: 30px; height: 30px; margin-top: -15px;
		background: url(../img/ico-checkbox2.png) no-repeat; background-size: 30px 60px; color: #555;}
	.stay_score .score_box .check_skin input:checked + span {border: 2px solid #000; color: #000; font-weight: 500;}
	.stay_score .score_box .check_skin input:checked + span:before {background-position: 0 -30px;}
}



/**
호스트 문의
**/
.hostqna_list {
	border-top: 1px solid #ddd;
	margin: 40px 0 120px;
}
.hostqna_list li {
	padding: 30px 0;
	border-bottom: 1px solid #ddd;
}
.hostqna_list .name .guest {
	display: inline-block;
	font-size: 16px; font-weight: 500; color: #000; line-height: 23px;
}
.hostqna_list .name .host {
	display: inline-block;
	font-size: 16px; font-weight: 500; color: #fff; line-height: 23px;
	background: #000;
	padding: 0 10px;
}
.hostqna_list .name .date {
	display: inline-block;
	margin-left: 3px;
	font-size: 13px; color: #666;
}
.hostqna_list .cont {
	font-size: 16px; color: #000; line-height: 1.7;
	margin-top: 12px;
}
.hostqna_write {
	position: relative;
	margin: 18px 0;
}
.hostqna_write .txt_num {
	position: absolute; top: -25px; right: 0;
	font-size: 12px; color: #ccc;
}
.hostqna_write textarea {
	border: 1px solid #ddd;
	height: 250px;
}
@media (max-width: 768px) {
	.hostqna_list {margin: 40px 0 75px;}
	.hostqna_list li {padding: 22px 0;}
	.hostqna_list .name .guest {font-size: 14px;}
	.hostqna_list .name .host {font-size: 14px;}
	.hostqna_list .name .date {font-size: 12px;}
	.hostqna_list .cont {font-size: 12px; margin-top: 6px;}
	.hostqna_write {margin: 10px 0;}
	.hostqna_write textarea {height: 210px;}
}


/**
예약 정보 - 해외
**/

/* 해외 스테이 변경 제안 - 팝업*/
.change_cont {
	border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;
	padding: 50px 50px 60px;
	text-align: center;
	font-family: 'NanumSquare';
}
.change_cont .txt {
	font-size:16px; font-weight: 500; line-height: 1.8; color: #181818;
}
.change_cont .change {
	margin: 40px 0 0 -50px;
	overflow: hidden;
	color: #181818; font-weight: 500;
}
.change_cont .change li {
	width: 50%;
	float: left;
	position: relative;
}
.change_cont .change li::after {
	content:"";
	display: inline-block;
	background: url(../img/arw_01.png) no-repeat center;
	background-size: cover;
	width: 22px; height: 19px;
	position: absolute; top: 50%; right: -35px;
	margin-top: -10px;
}
.change_cont .change li .row {
	margin-left: 50px; padding: 32px 0;
	background: #fafafa;
}
.change_cont .change .house {font-size: 18px;}
.change_cont .change .room {font-size: 24px; padding: 15px 0 20px;}
.change_cont .change .price {font-size: 14px;}
@media (max-width: 768px) {
	.change_wrap {padding: 0 20px;}
	.change_cont {border-top: 0; padding: 40px 0;}
	.change_cont .txt {font-size:15px;}
	.change_cont .change {margin: 40px 0 0 -35px;}
	.change_cont .change li::after {right: -29px}
	.change_cont .change li .row {margin-left: 35px; padding: 32px 0;}
	.change_cont .change .house {font-size: 13px;}
	.change_cont .change .room {font-size: 18px; padding: 10px 0 15px;}
	.change_cont .change .price {font-size: 12px;}
}


/* 해외 예약 신청 */
.apply_box {
	margin-top: 100px;
}
.apply_price {
	border-top: 1px solid #000;
	overflow: hidden;
	padding-top: 10px; margin-top: 15px;
	font-size: 14px;
}
.apply_price dt {
	clear: both;
	float: left;
	width: 65%;
	padding: 12px 0;
}
.apply_price dt small {
	display: inline-block;
	font-size: 12px;
	margin-left: 12px;
}
.apply_price dd {
	float: left;
	text-align: right;
	width: 35%;
	padding: 12px 0;
}
.apply_price .total {
	border-top: 1px solid #ddd;
	padding: 22px 0;
	margin-top: 8px;
}
.apply_price dd.total {
	font-size: 16px; font-weight: 500;
}
.apply_price .btn_apply {
	font-size: 12px; color: #fff;
	line-height: 2.2;
	background: #000;
	padding: 0 15px; margin: -5px 0;
}
.apply_check {margin-top: 20px;}
.apply_check input[type=radio] + label {display: inline-block; margin-right: 50px;}
.apply_check .txt {
	font-size: 14px; color: #000; line-height: 1.8;
	margin-top: 20px;
}
.apply_agree input[type=checkbox] + label {
	position: absolute; top: 12px; z-index: 1;
	display: inline-block;
	font-size: 12px;
	padding-left: 30px;
}
.apply_agree .board_list li {padding: 0 20px;}
.apply_agree .board_list li.agree_all {background: #f5f5f5; height: 60px; border: 0;}
.apply_agree .board_list li.agree_all input[type=checkbox] + label {font-size: 16px;}
.apply_agree .board_list li > .tit {height: 60px;}
.apply_agree .board_list li > .tit::after {border: 0;}
.apply_agree .board_list li > .view {
	font-size: 12px; color: #555; line-height: 2;
	background: #fbfbfb;
	margin: 0 -20px;
}
.apply_time {
	overflow: hidden;
	font-size: 14px; line-height: 2.3;
	margin-top: 20px;
}
.apply_time dt {
	clear: both;
	float: left;
	width: 70px;
}
.apply_time dd {
	float: left;
}
.complete_box {
	font-size: 24px; font-weight: 500; text-align: center;
	border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;
	padding: 100px 0; margin-top: 60px;
}

@media (max-width: 768px) {
	.apply_wrap {padding: 35px 0 0;}
	.apply_step {margin: 25px -11px 0 0;}
	.apply_step li {font-size: 12px;}
	.apply_step li small {font-size: 6px; margin-bottom: 5px;}
	.apply_step li::after {width: 6px; height: 13px; left: -8px; margin-top: -7px;}
	.apply_step li .row {margin-right: 11px; padding: 25px 0;}
	.apply_box {margin-top: 75px;}
	.apply_price {padding-top: 10px; margin-top: 10px; font-size: 13px;}
	.apply_price dt small {font-size: 11px;}
	.apply_price .total {padding: 16px 0;}
	.apply_price dd.total {font-size: 15px;}
	.apply_price .btn_apply {font-size: 11px; margin: -15px 0;}
	.apply_check {margin-top: 15px;}
	.apply_check input[type=checkbox] + label {font-size: 14px;}
	.apply_check .txt {font-size: 12px; margin-top: 12px;}
	.apply_agree .board_list {margin-top: 15px;}
	.apply_agree input[type=checkbox] + label {font-size: 11px; top: 9px; padding-left: 25px;}
	.apply_agree .board_list li.agree_all {height: 52px;}
	.apply_agree .board_list li.agree_all input[type=checkbox] + label {font-size: 14px;}
	.apply_agree .board_list li > .tit {height: 52px;}
	.apply_agree .board_list li > .view {padding: 18px 25px;}
	.apply_time {font-size: 12px;margin-top: 15px;}
	.complete_box {font-size: 18px; padding: 55px 0; margin-top: 50px;}
}



/**
취소내역
**/
.reserv_cancel {
	clear: both;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0 0 60px;
}
.reserv_cancel .my_tit {
	margin-bottom: 45px;
}
@media (max-width: 768px) {
	.reserv_cancel {padding: 35px 0 0; border: 0;}
}



/**
내 쿠폰함
**/
.mycoupon_wrap .guide_list {
	margin-top: 20px;
}

.coupon_code {
	font-size: 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 50px;
}
.coupon_code h3 {
	margin: 0 0 20px;
}
.coupon_code .input input {
	border: 1px solid #000;
	height: 45px;
	display: inline-block;
}
.coupon_code .input input[type=text] {
	width: 360px;
	padding: 0 15px;
	font-size: 16px; color: #000; font-weight: 500;
}
.coupon_code .input input::placeholder {
	color: #999; font-weight: 300; font-size: 14px;
}
.coupon_code .input input[type=submit] {
	cursor: pointer;
	background: #000;
	font-size: 14px; color: #fff;
	width: 160px;
}

.coupon_list h3 {
	margin: 60px 0 20px;
}
.coupon_list dl {
	font-size: 0;
	margin-bottom: 10px;
	width: 100%; height: 135px;
	display: table; table-layout: fixed;

}
.coupon_list dt {
	display: table-cell;
	background: #000;
	color: #fff; font-size: 30px; font-family: 'Lato-Regular';
	width: 152px;
	text-align: center; vertical-align: middle;
}
.coupon_list dd {
	display: table-cell;
	background: #f5f5f5;
	font-size: 18px; color: #000;
	text-align: center; vertical-align: middle;
}
.coupon_list dd .day {
	display: block;
	font-size: 12px; color: #999;
	margin-top: 8px;
}
@media (max-width: 768px) {
	.mycoupon_wrap .guide_list {margin-top: 12px;}
	.coupon_code {border: 0; padding-bottom: 0;}
	.coupon_code h3 {margin: 35px 0 15px;}
	.coupon_code .input input[type=text] {width: 78%;}
	.coupon_code .input input[type=submit] {width: 22%; font-size: 12px;}
	.coupon_list h3 {margin: 50px 0 15px;}
	.coupon_list dl {height: 68px;}
	.coupon_list dt {width: 22%; font-size: 15px;}
	.coupon_list dd {font-size: 12px;}
	.coupon_list dd .day {font-size: 9px; margin-top: 5px;}
}



/**
프리오더 바우처
**/
.preorder_wrap {
	clear: both;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0 0 60px;
}
.preorder_wrap .my_tit {
    margin-bottom: 45px;
}
@media (max-width: 768px) {
	.preorder_wrap {padding: 35px 0 0; border: 0;}
}


/**
관심 스테이
**/
.likestay_wrap {
	clear: both;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0 0 60px;
}
.likestay_wrap .my_tit {
    margin-bottom: 45px;
}
.likestay_wrap .mystay_box .stay .option {
	color: #333;
}
.likestay_wrap .mystay_box .btn_like {
	position: absolute;
	right: 10px; bottom: 8px;
	z-index: 3;
}
.likestay_wrap .mystay_box .link {
	margin: 12px -25px 0 0;
}
.likestay_wrap .mystay_box .link li {
	display: inline-block;
	position: relative;
	margin-right: 25px;
}
.likestay_wrap .mystay_box .link li a {
	font-size: 16px; color: #000; line-height: 35px; font-weight: 500;
	display: block;
}
.likestay_wrap .mystay_box .link li::before {
	content:"";
	display: inline-block;
	width: 1px; height: 14px;
	background: #ddd;
	position: absolute; top: 10px; left: -15px;
}
.likestay_wrap .mystay_box .link li:first-child::before {
	background: transparent;
}
.likestay_wrap .photo .likestay-slider .img {
	height: 250px;
}
.likestay_wrap .photo .slick-dots {
	bottom: 13px;
	z-index: 1;
}
.likestay_wrap .photo .slick-dots li {
	background: #fff;
	border: 1px solid rgba(0,0,0,.6);
	opacity: .3;
	margin: 0 2px;
}
.likestay_wrap .photo .slick-dots li.slick-active {
	opacity: 1;
}
.likestay_wrap .photo .slick-prev {
	position: absolute; left: 7px;
	margin-top: -16px;
	z-index: 2;
	width: 16px; height: 31px;
	background: url(../img/arw-fslist.png) no-repeat;
	background-size: cover;
	background-position: 0 0;
}
.likestay_wrap .photo .slick-next {
	position: absolute; right: 7px;
	margin-top: -16px;
	width: 16px; height: 31px;
	background: url(../img/arw-fslist.png) no-repeat;
	background-size: cover;
	background-position: 0 -31px;
}
@media (max-width: 768px) {
	.likestay_wrap {padding: 35px 0 0; border: 0;}
	.likestay_wrap .mystay_box {height: 590px; border-bottom: 1px solid #ddd; margin-bottom: 50px;}
	.likestay_wrap .mystay_box .btn_like {bottom: 128px;}
	.likestay_wrap .mystay_box .stay .txt {margin: 7px 0 14px; font-size: 16px; width: 100%;}
	.likestay_wrap .mystay_box .link li a {font-size: 15px;}
	.likestay_wrap .mystay_box .btns {position: absolute; bottom: 50px;}
	.likestay_wrap .mystay_box .photo {position: absolute; bottom: auto; top: 210px; width: 100%;}
}

