@charset 'utf-8';
@import url('main.css');
@import url('findstay.css');
@import url('promotion.css');
@import url('journal.css');
@import url('preoder.css');
@import url('login.css');
@import url('mypage.css');
@import url('payment.css');

/* When / Where Layer Popup */
.layer_whe {
	position: absolute;
	top: -30px; left: 0; right: 0;
	width: 100%;
	background: #fff;
	height: 930px;
	z-index: 50;
}
.layer_whe.open {
	top: 0;
}
.layer_whe .btn_close {
	position: absolute;
	display: block;
	top: 140px; right: 20px;
	background: url(../img/btn-close.png) no-repeat center;
	width: 50px; height: 50px;
	text-indent: -99999px;
}
.layer_whe .whe_tit {
	font-size: 36px;
	color: #333;
	font-weight: 700;
	padding: 135px 0 50px;
}
.whe_wrap {
	width: 100%;
	border-top: 2px solid #e6e6e6;
}
.whe_wrap .where_search {
	height: 64px; width: 580px;
	border-radius: 100px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 0 20px 0 60px;
	background: url(../img/ico-search2.png) no-repeat 20px 50%;
	background-size: 30px 30px;
	background-color: #f5f5f5;
}
.whe_wrap .where_search input[type=text] {
	height: 64px;
	font-size: 26px; color: #000;
	width: 100%;
	background: transparent;
}
.whe_wrap .where_search input::placeholder {
	font-weight: 100;
	color: #999;
	font-size: 26px; font-weight: 100;
}
.where .whe_wrap .whe_cont {
	padding: 75px 2%;
	font-size: 0;
	border-bottom: 2px solid #e6e6e6;
}
.where .whe_wrap .whe_cont .box {
	display: inline-block;
	width: 50%;
	padding: 0 2%;
}
.where .whe_wrap .whe_cont .box >.tit {
	clear: both;
	font-size: 22px;
	color: #333;
	font-weight: 700;
	margin: 0 0 30px 22px;
}
.where .whe_wrap .whe_cont .box ul {
	clear: both;
	width: 100%;
}
.where .whe_wrap .whe_cont .box ul li {
	float: left;
	margin: 10px 0;
}
.where .whe_wrap .whe_cont .box ul li a {
	font-size: 16px;
	color: #333; display: block;
	padding: 0 23px;
	line-height: 40px;
}
.where .whe_wrap .whe_cont .box ul li a.active {
	color: #fff; background: #000;
	border-radius: 100px;
	box-shadow: 6px 7px 15px 0 rgba(0,0,0,.3);
}
.whe_wrap .btn-searchstay {
	display: block;
	background: url(../img/arw-search.png) no-repeat 18px 15px;
	background-position: 185px 25px;
	background-color: #000;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 64px;
	border-radius: 100px;
	box-shadow: 13px 15px 30px 0 rgba(0,0,0,.4);
	font-family: 'Lato-Regular';
	letter-spacing: 2.5px;
	padding: 0 70px 0 40px;
	margin: 50px auto 0;
}
@media (max-width: 768px) {
	.layer_whe {position: fixed; top: 49px; bottom: 60px; padding-bottom: 30px; height: auto; overflow: auto; z-index: 100;}
	.layer_whe.open {top: 49px;}
	.layer_whe .btn_close {position: fixed; top: 63px; right: 20px; background-size: 25px 25px;}
	.layer_whe .whe_tit {font-size: 20px; padding: 30px 0 25px;}
	.whe_wrap {padding: 20px 0 0; border-top: 1px solid #e6e6e6;}
	.whe_wrap .where_search {height: 45px; width: 100%; margin-top: 15px; padding: 0 10px 0 45px; background: url(../img/ico-search2.png) no-repeat 15px 50%; background-size: 22px 22px; background-color: #f5f5f5;}
	.whe_wrap .where_search input[type=text] {height: 45px; font-size: 15px; width: 100%;}
	.whe_wrap .where_search input::placeholder {font-size: 15px;}
	.where .whe_wrap .whe_cont {padding: 0 0 12px; margin: 0 -10px; border-bottom: 1px solid #e6e6e6;}
	.where .whe_wrap .whe_cont .box {width: 100%; padding: 30px 0 0 0;}
	.where .whe_wrap .whe_cont .box >.tit {font-size: 15px; margin: 0 0 10px 12px;}
	.where .whe_wrap .whe_cont .box ul {width: 100%;}
	.where .whe_wrap .whe_cont .box ul li {margin: 5px 0;}
	.where .whe_wrap .whe_cont .box ul li a {font-size: 13px; padding: 0 13px; line-height: 25px;}	
	.whe_wrap .btn-searchstay {background: url(../img/arw-search.png) no-repeat 150px 50%; background-size: 15px 12px; background-color: #000; font-size: 11px; line-height: 48px; padding: 0 50px 0 40px; margin: 25px auto 0;}
}

/* 레이어 달력 */
.calendar_wrap {
	border-bottom: 2px solid #e6e6e6;
	margin-top: 36px;
	padding: 15px 2% 42px;
	position: relative;
	font-size: 0;
}
.calendar_wrap .box {
	display: inline-block;
	width: 50%;
	padding: 0 3%;
}
.calendar_wrap .month {
	clear: both;
	font-size: 18px;
	color: #333;
	font-weight: 700;
	margin: 0 0 30px 25px;
}
.calendar_wrap table {
	clear: both;
	width: 100%;
}
.calendar_wrap table th {
	font-weight: 500;
	font-size: 16px;
	color: #535353;
	text-align: center;
	height: 43px;
	font-weight: 500;
}
.calendar_wrap table td {
	font-size: 16px;
	color: #535353;
	text-align: center; height: 47px;
}
.calendar_wrap table td a {
	display: block;
	line-height: 40px;
	font-family: 'Lato-Regular';
}
.calendar_wrap table td a.past {
	cursor: default;
	color: #ddd;
}
.calendar_wrap table td a.today {
	background: #e6e6e6;
	width: 40px; line-height: 40px;
	border-radius: 50%;
	margin: 0 auto;
	font-family: 'Lato-Bold';
}
.calendar_wrap table td a.check-in {
	color: #fff;
	background: #000;
	border-radius: 100px 0 0 100px;
	box-shadow: 6px 7px 15px 0 rgba(0,0,0,.3);
}
.calendar_wrap table td a.check-out {
	color: #fff;
	background: #000;
	border-radius: 0 100px 100px 0;
	box-shadow: 6px 7px 15px 0 rgba(0,0,0,.3);
}
.calendar_wrap table td a.check {
	color: #fff;
	background: #000;
	box-shadow: 6px 7px 15px 0 rgba(0,0,0,.3);
}
.calendar_wrap .prev_month {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 0; width: 30px;
	height: 30px;
	background: url(../img/arw-calendar.png) no-repeat;
	background-size: 30px 60px;
	background-position: 0 0;
	text-indent: -99999px;
}
.calendar_wrap .next_month {
	position: absolute;
	top: 50%; margin-top: -15px; right: 0;
	width: 30px; height: 30px;
	background: url(../img/arw-calendar.png) no-repeat;
	background-size: 30px 60px;
	background-position: 0 -30px;
	text-indent: -99999px;
}
@media (max-width: 768px) {
	.calendar_wrap {margin-top: 0; padding: 0 0 10px; border-bottom: 1px solid #e6e6e6;}
	.calendar_wrap .box {width: 100%; padding: 0 5%;}
	.calendar_wrap .month {font-size: 15px; margin: 0 0 10px 4%;}
	.calendar_wrap .prev_month {left: -15px;}
	.calendar_wrap .next_month {right: -15px;}
	.calendar_wrap table {width: 100%; padding: 0 4%;}
	.calendar_wrap table th {font-size: 12px; height: 35px;}
	.calendar_wrap table td {font-size: 12px; height: 35px;}
	.calendar_wrap table td a {line-height: 28px;}
	.calendar_wrap table td a.today {width: 28px; line-height: 28px;}
}



/* Magazine / Travel / Pre-Oder Boxlist */
.journal_list {
	margin-top: -17px;
}
.journal_box {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 103%;
	position: relative;
	margin-top: 17px;
}
.journal_box .img {
	width: 100%; height: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 103%;
}
.journal_box .journal_info {
	display: flex; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #fff;
	position: absolute;
	top: 50%; left: 50%;
	width: 320px; height: 300px; 
	margin: -150px 0 0 -160px;
	text-align: center;
}
.journal_box .journal_info .number {
	font-family: 'DroidSerif-Italic';
	font-size: 27px; color: #c0c0c0;
	margin-bottom: 15px;
}
.journal_box .journal_info .date {	
	font-family: 'Abel','NanumSquare';
	font-size: 12px; color: #000;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
.journal_box .journal_info .tit {
	font-size: 21px; color: #333;
	line-height: 1.3;
}
.journal_box .journal_info .txt {
	font-size: 14px; color: #333;
	margin-top: 20px;
}
.journal_box .journal_info .more {
	margin-top: 15px;
}
@media (max-width: 768px) {
	.stay-list-wrap {width: 100%; padding: 0 10px;}
	.stay-list-wrap .stay-list {width: 100%; margin: 0;}
	.journal_box {width: 100%; padding: 10px 10px; margin: 0;}
	.journal_box .journal_info {top: 50%; left: 50%; width: 58%; height: 54%; margin: -31% 0 0 -28%;}
	.journal_box .journal_info .number {font-size: 20px;}
	.journal_box .journal_info .date {font-size: 10px; letter-spacing: 3px; margin-bottom: 10px;}
	.journal_box .journal_info .tit {font-size: 15px; margin-top: 7px;}
	.journal_box .journal_info .txt {font-size: 11px; margin-top: 35px;}
	.journal_box .journal_info .more {display: none;}
	.journal_list .slick-dots {bottom: -17px; left: 0; width: 100%;}
	.journal_list .slick-dots li {background: #000; margin: 0 3px; width: 6px; height: 6px;}
}



.stay_list {
	position: relative;
	margin: 0 0 -60px -30px;
	
}
.stay_list::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 30px;
	background: #fff;
	z-index: 10;
}
.stay_list .btn_like {
	position: absolute;
	top: 215px; right: 13px;
	z-index: 1;
}
.stay_list .stay_box {
	position: relative;
	padding: 0 0 60px 30px;
	text-align: center;
}
.stay_list .stay_box .img {
	width: 100%; height: 250px; 
}
.stay_list .stay_box .name {
	margin-top: 30px;
	font-size: 22px; color: #181818;
	font-weight: 500;
}
.stay_list .stay_box .other {
	font-size: 14px; color: #333;
	margin-top: 15px;
}
.stay_list .stay_box .other span::before {
	content: "";
	background: #333;
	width: 3px;
	height: 3px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px;
}
.stay_list .stay_box .other span:first-child::before {
	display: none;
}
.stay_list .stay_box .txt1 {
	margin-top: 15px;
	font-size: 16px; color: #181818;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	line-clamp: 2; -webkit-line-clamp: 2;
	box-orient: vertical;
	-webkit-box-orient: vertical;
}
.stay_list .stay_box .txt2 {
	margin-top: 15px;
	font-size: 14px; color: #181818;
	line-height: 1.4;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	display: block;
}
.stay_list .stay_box .btn_more {
	margin-top: 20px;
	font-size: 13px; color: #000;
	line-height: 30px;
	letter-spacing: 1.3px;
	border-bottom: 1px solid #000;
	display: inline-block;
	font-family: 'Abel','NanumSquare';
}
.stay_list .slick-prev {
	left: 50%; top: inherit; bottom: -1px;
	margin-left: 34px;
	width: 9px; height: 15px;
	font-size: 0;
	background: url(../img/arw-bk.png) no-repeat 9px 20px;
	background-position: 0 -15px;
}
.stay_list .slick-next {
	right: inherit; left: 50%; top: inherit; bottom: -1px;
	margin-left: 56px;
	width: 9px; height: 15px;
	font-size: 0;
	background: url(../img/arw-bk.png) no-repeat 9px 20px;
	background-position: 0 0;
}
.stay_list .slider-count {
	position: absolute;
	bottom: 0; left: 50%;
	margin-left: -30px;
	font-size: 12px; color: #000;
	font-weight: 700;
	text-align: center;
	z-index: 1;
	letter-spacing: 2px;
}
.stay_list .slider-count .active {
	color: #000; font-weight: 700;
}
.stay_list .slider-count .total {
	color: #888; font-weight: 300;
}
@media (max-width: 768px) {
	.stay_list {margin: 0; width: 100%; padding: 0;}
	.stay_list::before {display: none;}
	.stay_list .btn_like {right: 30px; top: auto; bottom: 166px;}
	.stay_list .stay_box {padding: 0 20px;}
	.stay_list .stay_box .e_date {right: 20px;}
	.stay_list .stay_box .img {width: 100%; height: 0; position: relative; overflow: hidden; padding-bottom: 61%;}
	.stay_list .stay_box .name {font-size: 15px; font-weight: 500; margin-top: 20px;}
	.stay_list .stay_box .other {font-size: 12px;}
	.stay_list .stay_box .txt1 {font-size: 13px; line-height: 18px; height: 36px;}
	.stay_list .stay_box .txt2 {font-size: 13px;}
	.stay_list .stay_box .btn_more {font-size: 12px; line-height: 25px;}
	.stay_list .slider-count, .stay_list .slick-prev, .stay_list .slick-next {display: none !important;}
}