@charset 'utf-8';

/* popup style */
.layer_pop {
	display: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	overflow: auto;
	z-index: 9000;
}
.layer_pop::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.layer_pop .layer_pop_wrap {
	position: relative;
	display: inline-block;
	width: 600px;
	margin: 50px auto;
	background: #fff;
	text-align: left;
	vertical-align: middle;
	outline: none;
}
.layer_pop .layer_title {
	line-height: 80px;
	font-size: 16px; font-weight: 500; color: #000; letter-spacing: 4.8px;
	padding-left: 50px;
}
.layer_pop .btn_layer_close {
	display: inline-block;
	position: absolute;
	top: 30px; right: 30px;
	width: 22px; height: 22px;
	font-size: 0;
	text-indent: -999px;
	background: url(../img/btn-close.png) no-repeat center;
	width: 22px; height: 22px;
}



@media (max-width: 768px) {
	.layer_pop {top: 50px; bottom: 60px;}
	.layer_pop::before {display: none;}
	.layer_pop .layer_pop_wrap {width: 100%; min-height: 100vh; margin: 0 auto;}
	.layer_pop .btn_layer_close {display: none;}
	.layer_pop .btn_back {background: url(../img/btn_back.png) no-repeat center; background-size: cover; display: inline-block; width: 40px; height: 40px; text-indent: -999999px; position: absolute; top: 3px; left: 0;}
	.layer_pop .layer_title {line-height: 46px; background: #f5f5f5; text-align: center; width: auto; display: block; font-size: 14px; padding: 0; letter-spacing: 0;}

	.layer_pop.mo_pop_fixed {top: 0; bottom: 0;}
	.layer_pop.mo_pop_fixed::before {display: block;}
	.layer_pop.mo_pop_fixed .layer_pop_wrap {min-height: auto; padding: 0 20px;}
	.layer_pop.mo_pop_fixed .btn_back ,
	.layer_pop.mo_pop_fixed .layer_title {display: none !important;}
}
