@charset 'utf-8';

/**
PreOder Ending
**/
.poending_wrap .journal_info .tit {
	font-weight: 700;
}
.poending_wrap .journal_info .txt {
	font-size: 16px;
}

@media (max-width: 768px) {
	.poending_wrap .journal_info .tit {font-size: 18px !important;}
	.poending_wrap .journal_info .txt {margin-top: 20px !important;}
	.poending_wrap .journal_info .more {display: block !important;}
}

/**
PreOder Now
**/
.ponow_wrap {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.ponow_box {
	margin-bottom: 20px;
	position: relative;
}
.ponow_box .img {
	height: 650px;
	width: 100%; height: 0; position: relative; overflow: hidden; padding-bottom: 36%; min-height: 400px;
}
.ponow_box .house_info {
	background: #fff;
	width: 300px; height: 270px;
	position: absolute;
	right: 70px; top: 50%;
	padding: 30px 0;
	margin-top: -160px;
	text-align: center;
}
.ponow_box .house_info .date {
	font-size: 11px; color: #000;
	margin-bottom: 28px;
	letter-spacing: 4.5px;
	text-indent: 4.5px;
	font-weight: 700;
}
.ponow_box .house_info .tit {
	font-size: 28px; line-height: 34px;
	color: #333;
	font-weight: 700;
}
.ponow_box .house_info .txt {
	font-size: 16px;
	color: #333;
	margin-top: 30px;
}
.ponow_box .house_info .more {
	margin-top: 20px;
}
.ponow_box .count {
	background: rgba(0,0,0,.6);
	width: 300px; height: 50px;
	position: absolute;
	right: 70px; top: 50%;
	margin-top: 110px;
	text-align: center;
	color: #fff;
	font-size: 0;
}
.ponow_box .count p {
	font-size: 20px; line-height: 15px;
	display: inline-block;
	width: 50%;
	margin-top: 18px;
	border-left: 1px solid rgba(255,255,255,.3)
}
.ponow_box .count p:first-child {
	border: none;
}
@media (max-width: 768px) {
	.ponow_box {margin-bottom: 80px; padding: 0 20px;}
	.ponow_box .img {padding-bottom: 55%; min-height: auto;}
	.ponow_box .house_info {width: 100%; height: auto; position: relative; right: 0; top: 0; padding: 0; margin-top: 15px;}
	.ponow_box .house_info .date {font-size: 9px;  margin-bottom: 20px;}
	.ponow_box .house_info .tit {font-size: 20px; line-height: 25px;}
	.ponow_box .house_info .txt {font-size: 12px; margin-top: 10px;}
	.ponow_box .house_info .more {margin-top: 20px;}
	.ponow_box .count {width: 100%; height: 40px; right: auto; top: auto; bottom: 0; margin-top: 0;}
	.ponow_box .count p {font-size: 16px; line-height: 15px; margin-top: 13px;}
}


/**
PreOder Now Sub
**/
.ponow_summary {
	margin-bottom: 20px;
	position: relative;
	background: #000;
}
.ponow_summary .img {
	height: 960px;
	width: 100%; height: 0; 
	position: relative;
	overflow: hidden; 
	padding-bottom: 53.3%; 
	min-height: 348px;
	opacity: 0.7;
}
.ponow_summary .cont {
	position: absolute; top: 15%; left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
}
.ponow_summary .cont .label {
	border: 1px solid #fff;
	font-size: 1.1vw; font-weight: 500;
	line-height: 38px;
	display: inline-block;
	padding: 0 25px;
}
.ponow_summary .cont .tit {
	font-size: 3.7vw; font-weight: 500;
	margin: 40px 0 35px;
}
.ponow_summary .cont .txt {
	font-size: 16px;
	line-height: 1.5;
}

.ponow_summary .state {
	position: absolute; bottom: 0; left: 0;
	width: 100%; height: 120px;
	background: rgba(0,0,0,.75);
	color: #fff;
}
.ponow_summary .state .row {
	height: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1330px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.ponow_summary .state .house {
	position: relative;
}
.ponow_summary .state .name {
	font-size: 30px; font-weight: 500;
}
.ponow_summary .state .name .discount {
	display: inline-block;
	width: 43px; line-height: 43px;
	text-align: center;
	font-size: 13px; color: #000; font-weight: 700;
	background: #fff;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 10px;
}
.ponow_summary .state .price {
	font-size: 16px;
	margin-top: 5px;
}

/* summary 하단 컨텐츠 - 남은바우처 */
.ponow_summary .state .po_bar {
	width: 40%;
	position: relative;
	margin-top: 50px;
}
.ponow_summary .state .po_bar::before {
	content: "";
	width: 100%; height: 5px;
	position: absolute; top: 0; left: 0;
	border-radius: 100px;
	background: rgba(255,255,255,.2);
}
.ponow_summary .state .po_bar .min {
	position: absolute; top: -3px; left: -22px;
	font-size: 14px; color: #fff;
}
.ponow_summary .state .po_bar .max {
	position: absolute; top: -3px; right: -28px;
	font-size: 14px; color: #fff;
}
.ponow_summary .state .po_bar .bar_bg {
	display: block;
	height: 5px;
	border-radius: 100px;
	background: #fff;
	position: relative;
}
.ponow_summary .state .po_bar .bar_bg::after {
	content:"";
	display: inline-block;
	background: url(../img/ico_bar.png) no-repeat center;
	background-size: cover;
	width: 30px; height: 30px;
	position: absolute; bottom: -13px; right: -15px;
}
.ponow_summary .state .po_bar .bar_bg .point {
	position: absolute; top: -60px; right: -80px;
	background: #fff;
	line-height: 33px; width: 160px;
	border-radius: 100px;
	color: #000; font-size: 14px;
	text-align: center;
}
.ponow_summary .state .po_bar .bar_bg .point strong {
	display: inline-block;
	margin-left: 10px;
	font-size: 16px; font-weight: 700;
}
.ponow_summary .state .po_bar .bar_bg .point::after {
	border-top: 12px solid #fff;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	content: "";
	position: absolute; bottom: -10px; left: 50%;
	margin-left: -4px;
}
.ponow_summary .state .dday dl {
	display: inline-block;
	text-align: center;
	color: #fff; font-weight: 500;
	position: relative;
}
.ponow_summary .state .dday dl:last-child {
	border-left: 1px solid rgba(255,255,255,.2);
	margin-left: 40px;
	padding-left: 40px;
}
.ponow_summary .state .dday dt {
	display: block;
	font-size: 14px;
}
.ponow_summary .state .dday dd {
	display: block;
	font-size: 24px;
	margin-top: 15px;
}
@media (max-width: 1330px) {
	.ponow_summary .cont .label {font-size: 15px;}
	.ponow_summary .cont .tit {font-size: 50px;}
}
@media (max-width: 768px) {
	.ponow_summary .cont {top: 12%;}
	.ponow_summary .cont .label {font-size: 8px; line-height: 20px;}
	.ponow_summary .cont .tit {font-size: 30px; margin: 20px 0;}
	.ponow_summary .cont .txt {font-size: 12px;}

	.ponow_summary .state .row {height: 120px; display: block;}
	.ponow_summary .state .house {margin-top: 5px;}
	.ponow_summary .state .name {font-size: 15px;}
	.ponow_summary .state .name .discount {transform: scale(.75); margin-left: 0;}
	.ponow_summary .state .price {position: absolute; top: 50%; right: 0; font-size: 13px; margin-top: -7px;}
	.ponow_summary .state .po_bar {transform: scale(.7); width: 70%; margin-left: -8%;}
	.ponow_summary .state .dday {position: absolute; bottom: 17px; right: 20px;}
	.ponow_summary .state .dday dl:last-child {margin-left: 10px; padding-left: 10px;}
	.ponow_summary .state .dday dt {font-size: 11px;}	
	.ponow_summary .state .dday dd {font-size: 13px; margin-top: 8px;}
}


.ponow_sec {
	margin: 120px auto 0;
	max-width: 1290px;
}
.ponow_sec .sec_title {
	padding-bottom: 20px;
}
.ponow_sec .sec_title.line {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 40px;
}
.ponow_txt {
	text-align: center;
}
.ponow_txt .tit {
	font-size: 30px;
} 
.ponow_txt .txt {
	font-size: 14px; line-height: 1.7;
	margin-top: 25px;
}
.ponow_story .story_box {
	text-align: center;
	margin-bottom: 110px;
}
.ponow_story .story_box .img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.ponow_story .story_box .img .img_box {
	flex: 1;
	position: relative;
}
.ponow_story .story_box .img .img_box.before img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	filter: gray;
}
.ponow_story .story_box .img .img_box.before::after {
	content:"BEFORE";
	display: block;
	font-family: 'Abel';
	font-size: 12px; color: #fff; letter-spacing: 6px;
	text-transform: uppercase;
	line-height: 35px; width: 120px;
	background: #000;
	position: absolute; top: 0; left: 0;
}
.ponow_story .story_box .img .img_box.after::after {
	content:"AFTER";
	display: block;
	font-family: 'Abel';
	font-size: 12px; color: #fff; letter-spacing: 6px;
	text-transform: uppercase;
	line-height: 35px; width: 120px;
	background: #000;
	position: absolute; top: 0; left: 0;
}
.ponow_story .story_box .img .img_box img {
	width: 100%;
}
.ponow_story .story_box .tit {
	font-size: 24px; line-height: 1.5;
	margin-top: 40px;
}
.ponow_story .story_box .txt {
	font-size: 14px; line-height: 1.7;
	margin-top: 10px;
}

.ponow_info .img img,
.ponow_list .img img {
	width: 100%;
}
.ponow_list .btn_lg {
	margin-top: 35px;
}

.ponow_notice .noti_box {
	background: #f7f7f7;
	padding: 40px 50px;
	position: relative;
}
.ponow_notice .noti_list {
	width: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.ponow_notice .noti_list li {
	padding: 5px 0;
	width: 47%;
	margin-right: 3%;
	font-size: 14px; line-height: 1.1;
}
.ponow_notice .noti_list li::before {
	content:"∙";
	display: inline-block;
	margin-left: -9px; padding-right: 5px;
}
.ponow_notice .noti_box .btn_sm {
	position: absolute;
	top: 50%; right: 50px;
	margin-top: -23px;
	width: 23%;
}
@media (max-width: 768px) {
	.ponow_sec {margin: 60px auto 0;}
	.ponow_txt .tit {font-size: 16px;} 
	.ponow_txt .txt {font-size: 12px;}
	.ponow_sec .sec_title {padding-bottom: 10px; text-indent: 0;}
	.ponow_sec .sec_title.line {margin-bottom: 20px;}	
	.ponow_story .story_box {margin-bottom: 50px;}
	.ponow_story .story_box .img {flex-direction: column;}
	.ponow_story .story_box .img .img_box {flex: auto; width: 100%;}
	.ponow_story .story_box .img .img_box.before::after,
	.ponow_story .story_box .img .img_box.after::after {line-height: 22px; width: 70px; font-size: 8px; letter-spacing: 3px;}
	.ponow_story .story_box .tit {font-size: 16px; margin-top: 20px; text-align: left;}
	.ponow_story .story_box .txt {font-size: 12px; text-align: left;}
	.ponow_list .btn_lg {margin-top: 20px;}
	.ponow_notice .noti_box {padding: 20px 20px 30px 30px;}
	.ponow_notice .noti_list {width: 100%; margin-bottom: 20px;}
	.ponow_notice .noti_list li {width: 100%; margin-right: 0; font-size: 12px;}
	.ponow_notice .noti_box .btn_sm {position: relative; top: auto; right: auto; margin-top: 0; width: 105px;}
}




/**
PreOder Coming
**/
.pocoming_box {
	background: #000;
	width: 100%; height: 0;
	text-align: center;
	margin-bottom: 28px;
	position: relative;
	overflow: hidden;
	padding-bottom: 60%;
}
.pocoming_box .img {
	opacity: .15;
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
}
.pocoming_box .cont {
	z-index: 1;
	color: #fff;
	position: absolute;
	top: 50%; left: 0;
	width: 100%; height: 120px;
	margin-top: -60px;
}
.pocoming_box .cont .date {
	font-size: 30px;
	letter-spacing: 12px;
	line-height: 60px;
	border-bottom: 1px solid rgba(255,255,255,.2);
	display: inline-block;
	text-indent: 12px;
}
.pocoming_box .cont .txt {
	font-size: 21px; line-height: 60px;
	color: rgba(255,255,255,.3);
	font-weight: 500;
}
@media (max-width: 768px) {
	.pocoming_box {margin-bottom: 15px;}
	.pocoming_box .cont {height: 60px; margin-top: -30px;}
	.pocoming_box .cont .date {font-size: 15px; letter-spacing: 6px; line-height: 30px; text-indent: 6px;}
	.pocoming_box .cont .txt {font-size: 14px; line-height: 30px;}
}




/**
PreOder Payment
**/
.po_payment_box {
	border: 1px solid #e0e0e0;
	padding: 100px 20px 60px;
}
.po_payment {
	max-width: 850px;
	margin: 0 auto;
}
.po_payment .payment_tit {
	border-bottom: 5px solid #000;
	font-size: 18px; letter-spacing: 18px; font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Abel';
}
@media (max-width: 768px) {
	.po_payment_box {border: none; border-top: 1px solid #000; padding: 50px 0 0 0;}
	.po_payment_box .payment_tit {border-bottom: 4px solid #000; font-size: 14px; padding-bottom: 20px;}
}




.po_booking .po_payment_box {margin-top: 50px;}
@media (max-width: 768px) {
	.po_booking .booking_summary {
		border-top: 1px solid #000;
	}
	.po_booking .po_payment_box {
		border: none; margin-top: 0;
	}
}