@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
	background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('./fonts/slick.eot');
	src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
	position: absolute;
	top: 50%;
	display: block;
	cursor: pointer;
	z-index: 1;
	margin-top: -30px;
}
.slick-prev:hover,
.slick-next:hover
{
	opacity: .5;
}
.slick-prev
{
	left: 0;
	width: 60px; height: 60px;
	background: url(../img/arw_slick.png) no-repeat;
	background-size: cover;
	background-position: 0 0;
	font-size: 0;
}
.slick-next
{
	right: 0;
	width: 60px; height: 60px;
	background: url(../img/arw_slick.png) no-repeat;
	background-size: cover;
	background-position: 0 -60px;
	font-size: 0;
}
@media (max-width: 768px) {
	.slick-prev,.slick-next {
		width: 30px; height: 30px;
		margin-top: -15px;
	}
	.slick-next {background-position: 0 -30px;}
}

/* Dots */
/*
.slick-dotted.slick-slider
{
	margin-bottom: 30px;
}
*/
.slider-count {
	font-size: 14px;
	position: absolute;
	bottom: -30px;
	left: 0;
}
.slider-count .active {
	color: red;
}
.slick-dots
{
	position: absolute;
	bottom: -25px;
	font-size: 0;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li
{
	display: inline-block;
	background: #000;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	opacity: .2;
	cursor: pointer;
	margin: 0 5px;
}
.slick-dots li button {
	text-indent: -9999px;
}
.slick-dots li:hover,
.slick-dots li:focus
{
	opacity: 1;
}
.slick-dots li.slick-active
{
	opacity: 1;
}
