@charset 'utf-8';

/* Section Title */
.sec_title {
	font-size: 12px; color: #181818; 
	letter-spacing: 11px; 
	font-weight: 700;
	font-family: 'Abel';
	text-transform: uppercase;
}

/* Sub Title */
.sub_title {
	text-transform: uppercase;
	text-align: center;
	height: 206px; width: 100%;
	padding-top: 70px;
}
.sub_title .tit {
	font-size: 18px; letter-spacing: 14px; font-family: 'Lato-Bold'; color: #000;
	text-indent: 14px;
}
.sub_title .txt {
	font-size: 15px; color: #000; font-weight: 500;
	line-height: 28px;
	margin: 10px 0 0;
}

/* Detail Title */
.detail_title {
	height: 260px;
	text-align: center;
}
.detail_title .location {
	font-size: 13px; color: #000;
	letter-spacing: 0.6px;
	font-family: 'Lato-Bold';
	padding-top: 75px;
}
.detail_title .location span {
	display: inline-block;
	color: #cecece;
	padding: 0 8px;
	font-family: 'Lato-Light';
}
.detail_title .tit {
	display: flex; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 30px; color: #181818;
	font-weight: 500;
	height: 170px;
}
.detail_title .tit small {
	font-size: 14px;
	margin-top: 15px;
	line-height: 1.5;
	display: block;
}
@media (max-width: 768px) {
	.sec_title {font-size: 11px; text-indent: 11px;}
	.sub_title {height: 102px; padding-top: 32px;}
	.sub_title .tit {font-size: 15px; letter-spacing: 12px; text-indent: 12px;}
	.sub_title .txt {font-size: 12px; line-height: 14px; margin: 8px 0 0;}
	.detail_title {height: 130px;}
	.detail_title .location {display: none;}
	.detail_title .tit {font-size: 22px; height: 130px; line-height: 1.2;}
	.detail_title .tit small {font-size: 12px;}
}

