.pageNumbers {
  list-style: none;
  display: flex; 
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: #fff;
  color: black;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.pageNumbers li button:hover {
  background-color: #fff;
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}
